
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}


input[type="text"], input[type="submit"], button {
  appearance: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid #ee4e7a;
  border-radius: 4px;
  margin-right: 0.4rem;
}

input[type="submit"], button {
  background-color: #ee4e7a;
  color: #fff;
  cursor: pointer;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  font-size: 1.4rem;
  color: #444;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.list {
  max-width: 800px;
  margin: 0 auto;
}

.list ul {
  list-style: none;
}

.list li {
  border: 1px solid #eee;
  padding: 1rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444;
}

.list--title {
  flex: 2;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.list li a {
  color: #444;
}

.list li img {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}


.list span {
  /*flex: 1;*/
  background-color: #eee;
  color: #ee4e7a;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}
