
* {
  margin: 0;
  padding: 0;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  font-size: 1.4rem;
  color: #444;
}

.list {
  max-width: 600px;
  margin: 0 auto;
}

.list ul {
  list-style: none;
}

.list li {
  border: 1px solid #eee;
  padding: 1rem 1.6rem;
  display: flex;
  justify-content: space-between;
  color: #444;
}

.list span {
  background-color: #eee;
  color: #ee4e7a;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}
